.topbar {
  position: fixed;
  z-index: 100;
  background: #aaa;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  transition: 0.3s height;
}
.topbar:hover {
  height: 100px;
  transition-delay: 1s;
}
.topbar .visibleOnHover {
  height: 0px;
  transition: 0.3s height;
  overflow: hidden;
}
.topbar:hover .visibleOnHover {
  height: 70px;
  transition-delay: 1s;
}
.title {
  background: #fcf;
  padding: 0 20px;
  font-family: monospace;
  white-space: pre-line;
}
.attribution {
  padding: 8px 20px 0;
  font-family: monospace;
  white-space: pre-line;
}
.lyrics {
  padding: 20px;
  margin-bottom: 100px;
  font-family: monospace;
  white-space: pre-line;
}

.subButtons {
  display: flex;
  align-items: stretch;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.label {
  display: block;
  flex-grow: 1;
  padding: 5px 5px 2px;
}
.swap {
  background: #fdf;
}
.sfw {
  background: #cfc;
}
.rhyme {
  background: #9fd;
}
.leven {
  background: #bf9;
}
.btnFavorRhymes {
  background: #fdd;
}
.master {
  background: #ddd;
}

.results {
  margin-top: 30px;
}

#ytplayer {
  float: right;
  margin: 10px;
  position: relative;
  z-index: 50;
}
